simv
simv.daidir/
csrc/
*.log
regression.vdb/
urgReport/
ucli.key
vc_hdrs.h
tb/uvm_tb/firmware.hex
cm.log
regression_logs/
sim/firmware.hex
sim/.fsm.sch.verilog.xml
tb/soc_test/.fsm.sch.verilog.xml
tb/soc_test/fw.asm
tb/soc_test/fw/firmware.bin
tb/soc_test/fw/firmware.elf
tb/soc_test/fw/firmware.hex
tb/soc_test/fw/firmware.map
*.o
*.a
*.so
*.db

